<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="turingmachine.com.sharetime20" >

    <uses-permission android:tv_name="android.permission.READ_CONTACTS" />
    <uses-permission android:tv_name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:tv_name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:tv_name="android.permission.INTERNET" />
    <uses-permission android:tv_name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:tv_name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:tv_name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:tv_name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:tv_name="android.permission.READ_FINE_LOCATION" />
    <uses-permission android:tv_name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:tv_name="android.permission.RECEIVE_SMS" />
    <uses-permission android:tv_name="android.permission.GET_TASKS" />
    <uses-permission android:tv_name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:tv_name=".captcha.SharetimeApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="St"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >

        <meta-data
            android:tv_name="JUHE_KEY"
            android:value="7ec1eef79b2aea8637ad8994899d0cd8" />

        <activity
            android:tv_name=".SelectionActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:tv_name="android.intent.action.MAIN" />

                <category android:tv_name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:tv_name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:tv_name=".MainActivity"
            android:label="@string/app_empty_name" >

        </activity>
        <activity
            android:tv_name=".subcontacts.AddContactActivity"
            android:label="@string/app_empty_name" >
        </activity>
        <activity
            android:tv_name=".subcontacts.PhoneContactsActivity"
            android:label="@string/app_empty_name" >
        </activity>
        <activity
            android:tv_name=".subcontacts.ContactInfoActivity"
            android:label="@string/app_empty_name" >
        </activity>
        <activity
            android:tv_name=".match_activity.MatchChooseContactsActivity"
            android:label="@string/app_empty_name" >
        </activity>
        <activity
            android:tv_name=".captcha.RegisterActivity"
            android:label="@string/app_empty_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:tv_name=".captcha.CaptchaActivity"
            android:label="@string/app_empty_name"
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
